
.private-key
.gt
xenv/.config/git-credentials.conf
README_DEV.md

*.tmp
*.temp
*.test
*.notes
*.doc
*.zwc
*.zwc.old
*.zip
*.tar.gz
*.deb

NOTES.md
.DS_Store
.vscode
.idea
.xmaster


dev/
tmp/
test/
notes/
cache/
@todo/
modules/*/cache.zsh

# temporary ignores:

oh-my-zsh-master/
